<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>thymeleaf/goodsIpgo/goodsIpgoForm.html</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#btn").click(function(){
		window.open("/goodsIpgo/goodsItem", "상품 검색", "width = 600, height = 500, top = 300, left = 60");
	});
	
	$("#regist").click(function(){
		$("#frm").ajaxSubmit({
			type : "post",
			url : "goodsIpgoRegist",
			beforeSubmit : function(){
				if($("#goodsNum").val() == ""){
					alert("상품번호를 입력해주세요.");
					return false;
				}
				if($("#ipgoDate").val() == ""){
					alert("입고일을 입력해주세요.");
					return false;
				}
				if($("#ipgoQty").val() == 0){
					alert("입고량을 입력해주세요.");
					return false;
				}
				if($("#madeDate").val() == ""){
					alert("제조일을 입력해주세요.");
					return false;
				}
			},
			success : function(result){
				if(result == 200){
					location.href = "goodsIpgoList";
				}
			},
			error : function(){
				alert("서버 오류");
			}
		});
	});
});

function validated(){
	if($("#goodsNum").val() == ""){
		alert("상품번호를 입력해주세요.");
		return false;
	}
}
</script>
</head>
<body>
	<h3>상품 입고 페이지입니다.</h3>
	<ul>
		<li><a href="/">홈</a></li>
		<li><a href="/goods/goodsList">상품 목록</a></li>
		<li><a href = "/goodsIpgo/goodsIpgoList">상품 입고 현황</a></li>
	</ul>
 <form action="goodsIpgoRegist" id = "frm" method="post">
 입고번호 :  <input type="text" name= "ipgoNum" th:value = "${ipgoNum }" readonly="readonly"/><br />
 상품번호 :  <input type="text" name= "goodsNum" id="goodsNum"/>
 			 <button type="button" id="btn" >상품 검색</button><br />
 상품명 :  <input type="text"  id="goodsName" /><br />
 입고일 : <input type="date" name= "ipgoDate" id = "ipgoDate"/><br />
 입고 수량 : <input type="number" name= "ipgoQty" id = "ipgoQty" value = "1" min = "1"/><br />
 제조일 : <input type="datetime-local" name= "madeDate" id = "madeDate"/><br />
 가격 :  <input type="number" name= "ipgoPrice" value = "0" min = "0" max = "100000"/><br />
 <!-- <input type="submit" value="입고 등록" /> -->
 <input type="button" value="입고 등록" id = "regist"/>
 </form>
</body>
</html>