<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>thymeleaf/goodsIpgo/goodsIpgoList</title>
</head>
<body>
	<h3>상품 입고 현황</h3>
	<ul>
		<li><a href="/">홈</a></li>
		<li><a href="/goods/goodsList">상품 목록</a></li>
		<li><a href = "/goodsIpgo/goodsIpgoForm">상품 입고하기</a></li>
	</ul>
	<table border=1 width="600" align="center">
		<caption>입고현황</caption>
		<tr><th>번호</th><th>입고번호</th><th>상품번호</th><th>상품가격</th><th>수량</th><th>입고일</th></tr>
		<tr th:each = "dto, idx : ${list}">
			<th><a th:href = "@{goodsIpgoDetail(ipgoNum=${dto.ipgoNum },goodsNum=${dto.goodsNum })}">[[${idx.count }]]</a></th>
			<th><a th:href = "@{goodsIpgoDetail(ipgoNum=${dto.ipgoNum },goodsNum=${dto.goodsNum })}">[[${dto.ipgoNum }]]</a></th>
			<th>[[${dto.goodsNum }]]</th>
			<th>[[${#numbers.formatCurrency(dto.ipgoPrice)  + "원"}]]</th>
			<th>[[${dto.ipgoQty }]]</th>
			<th>[[${#dates.format(dto.ipgoDate, 'yyyy-MM-dd') }]]</th>
		</tr>
	</table>
</body>
</html>