
eclipse-workspace/springBootMVCShopping/src/main/resources/application.properties
eclipse-workspace/springBootMVCShopping/src/main/resources/application.properties
eclipse-workspace/springBootMVCShopping/src/main/resources/application.properties

