<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://wwww.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans,
	   	   				http://www.springframework.org/schema/spring-beans.xsd">
	   	   				
	<!-- BoardController 객체를 생성시킨 것과 같음!!! -->
	<bean class = "boardcontroller.BoardFrontController" />	
	
</beans>