<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>thymeleaf/board/boardUpdate.html</title>
</head>
<body>
게시글 상세보기<br/>
	<form th:action="boardModify" method = "post">
		글번호 : <input type = "text" name = "boardNum" th:value = "${dto.boardNum}" readonly="readonly"/><br/>
		글쓴이 : <input type = "text" name = "boardWriter" th:value = "${dto.boardWriter}"/><br/>
		제목 : <input type = "text" name = "boardSubject" th:value = "${dto.boardSubject}" /><br/>
		내용 : <textarea rows="6" cols="60" name = "boardContent">[[${dto.boardContent}]]</textarea><br/>
		<input type = "submit" value = "수정" />
	</form>
</body>
</html>