<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>thymeleaf/myPage/myNewPw.html</title>
</head>
<body>
	<ul>
		<li><a href="/">홈</a></li>
		<li><a href="/myPage/memberMyPage">내 정보 보기</a></li>
		<li><a href="/myPage/memberUpdate">내 정보 수정</a></li>
		<li><a href="/myPage/memberPwModify">비밀번호 변경</a></li>
		<li><a href="/myPage/memberDrop">회원 탈퇴</a></li>
	</ul>

	<form action="memberPwPro" method="post" id="frm">
		현재 비밀번호 : <input type="password" name="oldPw" id="oldPw" required="required"><br /> 
		새 비밀번호 : <input type="password" name="newPw" id="newPw" required="required"><br /> 
		<input type="submit" value="변경" />
	</form>
</body>
</html>