<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	게시글 리스트다!<br/>
	<a href = "boardWrite">게시글 작성하러갈래...?</a>
	
	<table border = '1' width = "600px" align = "center">
		<tr>
			<td>글번호</td>
			<td>글제목</td>
			<td>글쓴이</td>
		</tr>
		
		<tr th:each = "dto : ${list}">
			<td>
				<a th:href = "@{boardDetail(boardNum=${dto.boardNum})}">[[${dto.boardNum}]]</a>
			</td>
			<td>[[${dto.boardSubject}]]</td>
			<td>[[${dto.boardWriter}]]</td>
		</tr>
	</table>
</body>
</html>