<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>
	<!-- BoardFrontController boardFrontController = new BoardFrontController(); 와 같음!! -->
	<bean class = "board.controller.BoardFrontController" id = "boardFrontController"/>
	<!-- BoardListService boardListService = new BoardListService(); -->
	<bean class = "board.service.BoardListService" />
	<!-- BoardDeleteService boardDeleteService = new BoardDeleteService(); -->
	<bean class = "board.service.BoardDeleteService" />
	<!-- BoardDetailService boardDetailService = new BoardDetailService(); -->
	<bean class = "board.service.BoardDetailService" />
	<!-- BoardUpdateService boardUpdateService = new BoardUpdateService(); -->
	<bean class = "board.service.BoardUpdateService" />
	<!-- BoardWriteService boardWriteService = new BoardWriteService(); -->
	<bean class = "board.service.BoardWriteService" />
	
	
	<!-- BoardDAO boardDAO = new BoardDAO(); -->
	<bean class = "board.model.BoardDAO" />
</beans>