<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>thymeleaf/goods/goodsWrite</title>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
<script>
	$(function(){
		$("#btn").click(function(){
			//버튼을 눌렀을 때, form에 있는 정보들을 주소로 넘겨야 하기 때문에,
			//원래는 data : {}안에 적어줘야 하지만, FormData 객체를 이용해 한 번에 넘기기.
			//아이디가 같은 form이 존재하면 배열로 가져오며, 이 때문에 뒤에 배열로 표시해줘야 함.
			var formData = new FormData($("#frm")[0]);
			$.ajax({
				type : "post",
				url : "goodsRegist",
				data : formData,
				enctype : "multipart/form-data",
				contentType : false,
				processData : false,
				success:function(result){
					if(result == 200){
						location.href = "goodsList";
					}
					else{
						$("#writeForm").html(result);
					}
				},
				error:function(){
					alert("다시 로그인해주세요.");
					location.href = "/";
				}
			});
		});
	});
</script>
</head>
<body>
	<h3>상품 등록 페이지입니다.</h3>
	<form action="/goods/goodsRegist" method="POST" enctype = "multipart/form-data" id = "frm" th:object="${goodsCommand}">
		<table border = "1" width ="600" align="center">
			<tr><th width="100">상품번호</th>
				<td><input type="text" name="goodsNum" readonly="readonly" th:value = "${autoNum }"/>번호자동부여</td></tr>
			<tr><th>상품명</th>
				<td><input type="text" name="goodsName"/>
					<span id = "errName" th:if="${#fields.hasErrors('goodsName')}" th:errors="*{goodsName}"></span></td></tr>
			<tr><th>상품가격</th>
				<td><input type="number" name="goodsPrice"/>
					<span id = "errPrice" th:if="${#fields.hasErrors('goodsPrice')}" th:errors="*{goodsPrice}"></span></td></tr>
			<tr><th>상품설명</th>
				<td><textarea rows="10" cols="50" name="goodsContents"></textarea>
					<span id = "errPrice" th:if="${#fields.hasErrors('goodsContents')}" th:errors="*{goodsContents}"></span>
				</td></tr>
			<tr><th>대문이미지</th>
				<td><input type="file" name="goodsMainImage"></td></tr>
			<tr><th>상품설명이미지</th>
				<td><input type="file" name="goodsDetailImage" multiple="multiple"></td></tr>
			<tr><th colspan="2"><input type="button" id="btn" value="상품 등록" /></th></tr>
		</table>
	</form>
</body>
</html>