<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>thymeleaf/goods/goodsInfo.html</title>
</head>
<body>
<h3>상품 상세정보 페이지입니다.</h3>
<ul>
	<li><a href = "/">홈</a></li>
</ul>
	<table border=1 align="center" width="600">
		<caption>[[${dto.goodsName }]] 상품 상세보기</caption>
		<tr><th width="150" >상품번호</th><td>[[${dto.goodsNum }]]</td></tr>
		<tr><th width="150" >상품명</th><td>[[${dto.goodsName }]]</td></tr>
		<tr><th>상품가격</th><td>[[${dto.goodsPrice }]]</td></tr>
		<tr><th>상품설명</th><td>[[${dto.goodsContents }]]</td></tr>
		<tr><th>조회수</th><td>[[${dto.visitCount }]]</td></tr>
		<tr><th>등록한 사원</th><td>[[${dto.empNum }]]</td></tr>
		<tr><th>등록일</th><td>[[${#dates.format(dto.goodsRegist, 'yyyy-MM-dd') }]]</td></tr>
		<tr><th>마지막 수정 사원</th><td>[[${dto.updateEmpNum }]]</td></tr>
		<tr><th>마지막 수정일</th><td>[[${#dates.format(dto.goodsUpdateDate, 'yyyy-MM-dd' )}]]</td></tr>
		<tr>
			<th colspan = '2'>
				대문 이미지 :
				<img th:src = "|/static/upload/${mainImage}|" />
			</th>
		</tr>
		<tr th:each = "image : ${#strings.arraySplit(detailImages, '/')}">
			<th>
				상세 이미지
			</th>
			<th colspan ='2' >
				<img th:src = "|/static/upload/${image}|" />	
			</th>
		</tr>
		<tr><th colspan="2">
			<a th:href="@{goodsUpdate(goodsNum=${dto.goodsNum })}">상품 수정</a> | 
			<a th:href="@{goodsDelete(goodsNum=${dto.goodsNum })}">상품 삭제</a> | 
			<a href="/goods/goodsList">상품목록</a></th></tr>
	</table>
</body>
</html>