<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>thymeleaf/item/detailView.html</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script type="text/javascript">
$(function(){
	wishCheck();
	$("#cartBtn").click(function(){
		var conf = confirm("장바구니에 담겠습니까?");
		if(conf == true){
			$.ajax({
				type : "post",
				url : "/item/cart",
				data : {"goodsNum" : "[[${dto.goodsDTO.goodsNum}]]", "cartQty" : $("#cartQty").val()},
				success : function(result){
					if(result = "200"){
						location.href = "/item/cartList";
					}
					else{
						window.self.reload();
					}
				},
				error : function(){
					alert("서버 오류");
				}
			});
		}
	});
})

function wishCheck(){
	$.ajax({
		type : "post",
		url : "/item/wishCheck",
		data : {"goodsNum" : "[[${dto.goodsDTO.goodsNum}]]"},
		success : function(result){
			if(result == 1){
				$("#wish").attr("src", "/static/images/hart.jpg");
			}
			else{
				$("#wish").attr("src", "/static/images/hart1.jpg");
			}
		},
		error : function(result){
			alert("서버 오류");
		}
	});
}

function wishUpdate(){
	/*
	$.ajax({
		type : "post",
		url : "/item/wish",
		data : {"goodsNum" : goodsNum},
		success : function(result){
			if(result == 200){
					if($("#wish").attr("src") == "/static/images/hart1.jpg"){
						$("#wish").attr("src", "/static/images/hart.jpg");
					}
					else{
						$("#wish").attr("src", "/static/images/hart1.jpg");
					}
			}
		},
		error : function(result){
			alert("서버 오류");
		}
	});
	*/
	var xhr = new XMLHttpRequest();	//Ajax 대신에 사용! Ajax 역할을 함
	xhr.open("POST", "/item/wish?goodsNum=[[${dto.goodsDTO.goodsNum}]]", true);	//QueryString으로 데이터를 넘기는 방식
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.onload = function(){	// success와 같은 역할!
		if(xhr.status == 200){ //XMLHttpRequest 객체는 정상 처리되었을 때 status로 200을 가져옴.
			//var result = xhr.responseText;	// 받아올 data가 있을 때, responseText로 받아옴
			if($("#wish").attr("src") == "/static/images/hart1.jpg"){
				$("#wish").attr("src", "/static/images/hart.jpg");
			}
			else{
				$("#wish").attr("src", "/static/images/hart1.jpg");
			}
		}
	}
	//var formData = JSON.stringify({"goodsNum" : goodsNum});	//QueryString을 사용하지 않고 데이터를 넘길 때 Json 사용.
	xhr.send();	// 실행.
}
</script>
</head>
<body>
<h3>상품 상세정보 페이지입니다.</h3>
<ul>
	<li><a href = "/">홈</a></li>
</ul>
	<table width="800" align="center">
		<caption>[[${dto.goodsDTO.goodsName }]] 상품정보입니다.</caption>
		<tr>
			<td rowspan="5">
				<img th:src="|/static/upload/${dto.goodsDTO.goodsMainStoreImage }|" height="200" width="200" /></td>
			<td>[[${dto.goodsDTO.goodsName}]]</td>
		</tr>
		<tr>
			<td>[[${dto.goodsDTO.goodsPrice }]]원</td>
		</tr>
		<tr>
			<td>조회수 : [[${dto.goodsDTO.visitCount }]]</td>
		</tr>
		<tr>
			<td>
				수량 : <input type="number" min="1" step="1" value="1" id="cartQty" />
			</td>
		</tr>
		<tr>
			<td>
				<th:block th:if = "${dto.stock != 0 and dto.stock != null}">
					<button type="button" id="cartBtn">장바구니</button> |
					<button type="button" id="buyItem">바로구매</button> | 
				</th:block>
				<th:block th:if = "${dto.stock == 0 or dto.stock == null}">
					품절입니다.
				</th:block>
				
				<a style="text-decoration-line:none" th:href = "|javascript:wishUpdate()|">
					<img src="/static/images/hart1.jpg" id="wish" width="20"/>
				</a>
				찜
			</td>
		</tr>
		<tr>
			<td colspan="2"><span id="descript">제품 상세 설명</span> | 
			<span id="review">리뷰</span> | <span id="inquire" onclick="inquire()">상품문의</span></td>
		</tr>
		<tr>
			<td colspan="2"><div id="content"></div></td>
		</tr>
	</table>
	
</body>
</html>