<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="inquireMapperSql">
	<insert id="inquireInsert" parameterType="inquireDTO">
		insert into inquire(inquire_num, member_num, goods_num, inquire_subject, inquire_kind,
		inquire_Contents, inquire_Date)
		values((select coalesce(max(inquire_num), 0) + 1 from inquire), 
			#{memberNum}, #{goodsNum}, #{inquireSubject}, #{inquireKind}, #{inquireContents}, sysdate)
	</insert>
	
	<select id="inquireList" resultType="inquireDTO" parameterType="hashmap">
		select inquire_num, i.member_num, g.goods_num, inquire_subject, inquire_kind,
		inquire_Contents, inquire_Date, inquire_answer, inquire_answer_date,
		i.emp_num, m.member_id, goods_name
		from inquire i left outer join members m
		on i.member_num = m.member_num
		join goods g on g.goods_num = i.goods_num
		<trim prefix = "where" prefixOverrides="AND | OR">
			<if test="goodsNum != null">
				i.goods_num = #{goodsNum}
			</if>
			<if test="inquireNum != null">
				and inquire_num = #{inquireNum}
			</if>
		</trim>
	</select>
	
	<delete id="inquireDelete">
		delete from inquire where inquire_num = #{inquireNum}
	</delete>
	
	<update id="inquireUpdate" parameterType="inquireDTO">
		update inquire set inquire_subject = #{inquireSubject}, inquire_contents = #{inquireContents},
		inquire_kind = #{inquireKind} where inquire_num = #{inquireNum}
	</update>
	
	<update id="inquireAnswerUpdate" parameterType="inquireDTO">
		update inquire
		set EMP_NUM = #{empNum}, inquire_answer = #{inquireAnswer}, inquire_answer_date = sysdate
		where inquire_num = #{inquireNum}
	</update>
</mapper>