<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

   
<mapper namespace="reviewMapperSql">
	<select id="reviewSelectOne" resultType="string" parameterType="review">
		select review_contents
		from reviews
		where goods_num = #{goodsNum} and purchase_num = #{purchaseNum}
	</select>
	
	<update id="reviewInsert" parameterType="review">
		insert into reviews(GOODS_NUM, PURCHASE_NUM, REVIEW_DATE, REVIEW_CONTENTS, MEMBER_ID)
		values(#{goodsNum}, #{purchaseNum}, now(),#{reviewContents}, #{memberId})
	</update>
	
	<update id="reviewUpdate" parameterType="review">
		update reviews set REVIEW_DATE = now(), REVIEW_CONTENTS = #{reviewContents}
		where member_id = #{memberId} and goods_num = #{goodsNum}
	</update>
	
	<select id="goodsReviewList" parameterType="string" resultType="review">
		select goods_num, purchase_num, review_date, review_contents, member_id from 
		reviews where goods_num = #{goodsNum}
	</select>
</mapper>